<h2>Add an Album!</h2>
<%= form_for @album do |f| %>
  <% %w(title label_code format released_year).each do |field| %>
    <%= f.label field %>:
    <%= f.text_field field %>
    <br>
  <% end %>

  <%= f.submit %>
<% end %>
